# Ignore bundler config.
/.bundle

# Ignore all environment files.
/.env*

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*

# Ignore pidfiles.
/tmp/pids/*

# Ignore storage (uploaded files).
/storage/*

# Ignore precompiled assets.
/public/assets

# Ignore key files for decrypting credentials.
/config/*.key
